body, html{
    height: 100%;
    margin: 0;
    font-family: Hack;
}

.bg{
    /* background-image: url("bg.jpg"); */
    background-color: #6699cc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadowbox{
    background-color: black;
    position: absolute;
    filter: blur(2px);
}

.containershadow{
    height: 250px;
    width: 652px;
    margin-top: 315px;
    margin-left: 650px;
}

.container{
    background-color: lightgrey;
    height: 250px;
    width: 652px;
    position: absolute;
    margin-top: 300px;
    margin-left: 635px;
    border-radius: 3px;
}

.message{
    text-align: center;
    font-size: 18px;
    color: grey;
}

.searchshadow{
    height: 32px;
    width: 652px;
    margin-top: 600px;
    margin-left: 650px;
}

.searchbox{
    position: absolute;
    margin-top: 585px;
    margin-left: 635px;
}

table{
    position: absolute;
    margin-top: 14px;
    margin-left: 124px;
}

th, td{
    text-align: center;
    padding-right: 70px;
    padding-bottom: 6px;
    font-size: 15px;
    color: grey;
}

a{
    text-decoration: none;
}

a:link, a:visited, a:active{
    color: darkgrey;
}

a:hover{
    color:grey;
}

input{
    background-color: lightgrey;
    border: none;
    border-radius: 3px;
    height: 32px;
    width: 652px;
    font-size: 16px;
    color: grey;
    font-family: inherit;
    padding-left: 10px;
    padding-right: 10px;
}